.head{
    color: darkblue;
    font-size: 90px;
    padding-left: 100px;
}
.button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: chartreuse;
    color: black;
    font-size: 20px;
    margin-left: 210px;
    font-weight: bold;
}
#first:hover{
    background-color: blue;
    color: white;
}
#second:hover{
    background-color:green;
    color: white;
}
#third:hover{
    background-color:black;
    color: white;
}
#fourth:hover{
    background-color:magenta;
    color: white;
}
#fifth:hover{
    background-color: brown;
    color: white;
}
#sixth:hover{
    background-color: rgb(248, 14, 14);
    color: white;
}
#seventh:hover{
    background-color: rgba(28, 5, 128, 0.616);
    color: white;
}
#eighth:hover{
    background-color: rgb(231, 146, 8);
    color: white;
}
#ninth:hover{
    background-color: rgb(255, 0, 98);
    color: white;
}
#tenth:hover{
    background-color: rgb(252, 89, 211);
    color: white;
}
.label1{
    padding-left: 80px;
    padding-top: 30px;
}
#pat{
    padding-left: 200px;
    font-size: 40px;
}
#disp{
    padding-left: 200px; 
}

.q{
    font-size: 20px;
    font-weight: bold;
    margin-left: 70px;
}
/* all button arrangemets */
#fifth{
    margin-top: 110px;
}
#sixth{
    margin-top: 20px;
}
#seventh{
    margin-top: 50px;
}
#eighth{
    margin-top: 85px;
}
#ninth{
    margin-top: 20px;
}
#tenth{
    margin-top: 142px;
}
/* input field arrangements */
.field{
    margin-left: 80px;
}
#limi{
    margin-left: 90px;
}
#inum2{
    margin-left: 55px;
}
/* for output p tags */
.array{
    margin-left: 80px; 
    font-weight: bold;
}
.cmt{
    padding-left: 80px; 
    font-weight: bold;
    color: darkblue;
    font-size: 20px;
}
